{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

{% block style %}
    <link rel="stylesheet" href="{% static 'css/equipes.css' %}">
{% endblock %}

{% block content %}
    
    <main>
        <h1 class="titulo_pagina">EQUIPES</h1>
        <div class="linha_cards_equipes">
            {% for esporte in esportes %}
            <div class="card_equipe">
                <img class="icone_equipe" src="{% static 'imagens/icone_bola_basquete.png' %}" alt="icone de bola de basquete">
                <a class="nome_equipe" href="{% url 'equipe' esporte.slug %}">{{ esporte.nome|upper }}</a>
            </div>
            {% endfor %}
        </div>
    </main>

{% endblock %}
</html>