{% extends "base.html" %}
{% load static %}

{% block content %}
    <main>
        <h1 class="titulo_pagina">{{ esporte.nome|upper }}</h1>
        <section class="inicio-esporte">
            <div class="carrosel"></div>
            <div class="container-seletivas">
                <div class="titulo-seletiva">
                    <h2>SELETIVAS</h2>
                    <div><img src="{% static 'imagens/icone_seletiva.png' %}" alt="Ícone de seletiva"></div>
                </div>
                <div class="conteudo-seletiva">
                    <div class="icones-seletiva">
                        <img src="{% static 'imagens/icone_data_seletiva.png' %}" alt="Ícone de data de seletiva">
                        <h3>DATA</h3>
                    </div>
                    <p>01/01/2023</p>
                </div>
                <div class="conteudo-seletiva">
                    <div class="icones-seletiva">
                        <img src="{% static 'imagens/icone_local_seletiva.png' %}" alt="Ícone de local de seletiva">
                        <h3>LOCAL</h3>
                    </div>
                    <p>Estádio Municipal</p>
                </div>
                <div class="conteudo-seletiva">
                    <div class="icones-seletiva">
                        <img src="{% static 'imagens/icone_hora_seletiva.png' %}" alt="Ícone de hora de seletiva">
                        <h3>HORA</h3> 
                    </div>
                    <p>15:00</p>
                </div>
            </div>
            <div class="container-informacoes">
                <div class="filtro-genero">
                    <h2>
                        Filtra Categoria
                    </h2>
                    <button type="button">Masculino</button>
                    <button type="button">Feminino</button>
                </div>
            </div>
        </section>
    </main>
{% endblock %}