{% extends 'base.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/eventos.css' %}">
{% endblock %}

{% block content %}

    <main>

        <h2>EVENTOS</h2>

        <div class="grade-eventos">
            {% for evento in eventos %}
                <div class="evento-card">
                    {% if evento.imagem %}
                        <img class="img_principal" src="{{ evento.imagem.url }}" alt="{{ evento.titulo }}">
                    {% else %}
                        <div class="placeholder"></div>
                    {% endif %}

                    <h3>{{ evento.titulo }}</h3>
                    <div class="info">
                        <p>{{ evento.descricao }}</p>
                        
                        <div class="local-data">
                            <p><strong>Local:</strong> {{ evento.local }}</p>
                            <p><strong>Data:</strong> {{ evento.data_hora|date:"d/m/y — H:i" }}</p>
                        </div>

                        <a href="{% url 'fotos_evento' evento.id %}"><img src="{% static 'imagens/icone_camera_eventos.png' %}" alt="Ícone de câmera">Fotos</a>
                    </div>
                </div>
                
            {% endfor %}
        </div>
        
    </main>

{% endblock %}