{% extends 'base.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/gestao.css' %}">
{% endblock %}

{% block content %}

    <main>
        <h1 class="titulo_pagina">GESTÃO</h1>
        <div class="linha_cards">
            {% for gestor in gestores %}
            <div class="gestao-card">
                <div class="gestao-card__imagem">
                    <img src="{{ gestor.foto.url }}" alt="Foto de {{ gestor.nome }}">
                </div>
                <div class="gestao-card__conteudo">
                    <h2>{{ gestor.funcao }}</h2>
                    <p>{{ gestor.nome }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </main>

{% endblock %}

</html>