{% extends 'base.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
    
        <main>

        <section class="banner-inicio">
            <div>
                <p>Venha torcer com<br>a <span>maior</span> do <span>RN!</span></p>
                <a href="{% url 'sobre_nos' %}">Saiba mais</a>
            </div>

            <figure>
                <img src="{% static 'imagens/pantera-home.png' %}" alt="Pantera da TFF">
            </figure>
        </section>


        <section class="camisa-inicio">
            <div class="camisa-card">
                <figure>
                    <img src="{% static 'imagens/camisa-tff.png' %}" alt="Camisa da TFF">
                </figure>

                <div class="camisa-info">
                    <h2>O MANTO</h2>
                    <p>O número na camisa da TFF homenageia a torcida:</p>
                    <p>O 12º JOGADOR</p>

                    <div class="camisa-preco">
                        <p>R$ 49,90</p>
                        <a href="">Adquirir</a>
                    </div>
                </div>
            </div>
        </section>


        <section class="noticias">

            <img src="{% static 'imagens/garra-roxa-esquerda.png' %}" alt="Textura de garra" id="garra-esquerda">

            <div class="titulo-ancora">
                <h2>NOTÍCIAS</h2>   
                <a href="">Todas as notícias <img src="{% static 'imagens/seta.png' %}" alt="Seta"></a>
            </div>

            <div class="carousel-wrapper">
                <button class="carousel-nav prev" id="prevBtn" aria-label="Anterior"><img src="{% static 'imagens/seta-carrossel-esquerda.png' %}" alt="Seta anterior"></button>

                <div class="carousel-track-container">
                    <div class="carousel-track" id="carouselTrack">
                    
                    {% for noticia in noticias %}
                        <article class="news-card">
                            <div class="card-image-wrapper">
                                {% if noticia.imagem %}
                                    <img src="{{ noticia.imagem.url }}" alt="{{ noticia.titulo }}">
                                {% else %}
                                    <div class="card-placeholder"></div>
                                {% endif %}

                                <div class="card-overlay">
                                    <p class="card-title">{{ noticia.titulo }}</p>
                                    <p class="card-date">{{ noticia.data|date:"d \d\e F \d\e Y" }}</p>
                                </div>
                            </div>

                            <!-- primeira tag associada à noticia -->
                            <p class="card-category">
                                {% with primeira_tag=noticia.tags.all|first %}
                                    {% if primeira_tag %}
                                        {{ primeira_tag.nome }}
                                    {% else %}
                                        Geral
                                    {% endif %}
                                {% endwith %}
                            </p>
                        </article>
                    {% empty %}
                        <p>Nenhuma notícia encontrada.</p>
                    {% endfor %}

                    </div>
                </div>

                <button class="carousel-nav next" id="nextBtn" aria-label="Próximo"><img src="{% static 'imagens/seta-carrossel-direita.png' %}" alt="Seta posterior"></button>
        </div>

    <div class="carousel-pagination" id="carouselPagination">
      <span class="dot active"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
    </div>
  </div>

            <img src="{% static 'imagens/garra-roxa-direita.png' %}" alt="Textura de garra" id="garra-direita">

        </section>

        <div class="carousel-dots"></div>

        <section class="ultimos-jogos">

            <h2>ÚLTIMOS JOGOS</h2>

            <div class="ultimos-jogos-container">

                {% for jogo in ultimos_jogos %}
                <div class="card-jogo">
                    <div class="mod-data-comp">
                        <div><img src="{% static 'imagens/icone_bola_futebol_16px.png' %}" alt="Ícone de bola de futebol"><p>{{ jogo.modalidade|upper}} • {{ jogo.data_hora|date:"d/m" }}</p></div>
                        <p>{{ jogo.competicao|upper}} - {{ jogo.fase_competicao|upper}}</p>
                    </div>
                    <p class="local-hora">{{ jogo.data_hora|date:"H\H" }} - {{ jogo.local|upper }}</p>
                    <div class="times-placar">
                        <div class="time">
                            <img src="{% static 'imagens/cnat_escudo.png' %}" alt="CNAT">
                            <p>CNAT</p>
                        </div>
                        <p class="placar">{{ jogo.placar_cnat }} - {{ jogo.placar_adversario }}</p>
                        <div class="time">
                            <div><p>{{ jogo.nome_adversario|slice:":3"|upper|default:"ADV" }}</p></div>
                            <p>{{ jogo.nome_adversario }}</p>
                        </div>
                    </div>
                    <div class="fase-jogo">
                        <p>{{ jogo.fase_jogo|upper }}</p>
                    </div>
                </div>
                {% endfor %}

        </section>

        <section class="proximos-jogos">

            <h2>PRÓXIMOS JOGOS</h2>
            <div class="proximos-jogos-container">
                {% for jogo in proximos_jogos %}
                    <div class="card-jogo">
                        <div class="mod-data-comp">
                            <div><img src="{% static 'imagens/icone_bola_futebol_16px.png' %}" alt="Ícone de bola de futebol"><p>{{ jogo.modalidade|upper}} • {{ jogo.data_hora|date:"d/m" }}</p></div>
                            <p>{{ jogo.competicao|upper}} - {{ jogo.fase_competicao|upper}}</p>
                        </div>
                        <p class="local-hora">{{ jogo.data_hora|date:"H\H" }} - {{ jogo.local|upper }}</p>
                        <div class="times-placar">
                            <div class="time">
                                <img src="{% static 'imagens/cnat_escudo.png' %}" alt="CNAT">
                                <p>CNAT</p>
                            </div>
                            <p class="placar">X</p>
                            <div class="time">
                                <div><p>{{ jogo.nome_adversario|slice:":3"|upper|default:"ADV" }}</p></div>
                                <p>{{ jogo.nome_adversario }}</p>
                            </div>
                        </div>
                        <div class="fase-jogo">
                            <p>{{ jogo.fase_jogo|upper }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="todos-jogos">
                <a href="{% url 'jogos' %}">
                <div><p>Todos os jogos</p><img src="{% static 'imagens/seta_todos.png' %}" alt="Seta - Todos os jogos"></div>
                </a>
            </div>  
        </section>
    </main>

<script>
    document.addEventListener('DOMContentLoaded', () => {
    const track = document.getElementById('carouselTrack');
    const prevBtn = document.getElementById('prevBtn');
    const nextBtn = document.getElementById('nextBtn');
    const dots = document.querySelectorAll('.dot');
    const cards = document.querySelectorAll('.news-card');

    let currentIndex = 0;

    function updateCarousel(index) {
        const cardWidth = cards[0].getBoundingClientRect().width + 20; // 20px é o gap
        track.style.transform = `translateX(-${index * cardWidth}px)`;

        dots.forEach((dot, i) => {
        dot.classList.toggle('active', i === index);
        });
    }

    nextBtn.addEventListener('click', () => {
        if (currentIndex < cards.length - 2) {
        currentIndex++;
        updateCarousel(currentIndex);
        }
    });

    prevBtn.addEventListener('click', () => {
        if (currentIndex > 0) {
        currentIndex--;
        updateCarousel(currentIndex);
        }
    });

    dots.forEach((dot, index) => {
        dot.addEventListener('click', () => {
        currentIndex = index; 
        updateCarousel(currentIndex);
        });
    });
    });
</script>

{% endblock %}