{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TFF</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">

</head>

<body>
    <header>
        <nav>
            <h1><a href=""><img src="{% static 'imagens/Logo.png' %}" alt="TFF" class="logo"></a></h1>

            <ul>
                <li class="dropdown"><a href="#" class="dropdown-btn">Torcida<img src="{% static 'imagens/seta_header.png' %}" alt="seta"></a>
                    <ul class="submenu">
                        <li><a href="">Gestão</a></li>
                        <li><a href="">Sobre nós</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-btn">Esportes<img src="{% static 'imagens/seta_header.png' %}"
                            alt="seta"></a>
                    <ul class="submenu">
                        <li><a href="">Jogos</a></li>
                        <li><a href="">Equipes</a></li>
                    </ul>
                </li>

                <li class="dropdown"><a href="#" class="dropdown-btn">Comunicação<img
                            src="{% static 'imagens/seta_header.png' %}" alt="seta"></a>
                    <ul class="submenu">
                        <li><a href="">Notícias</a></li>
                        <li><a href="">Eventos</a></li>
                    </ul>
                </li>

                <li><a href="">Vendas</a></li>
                <li><a href="">Contato</a></li>
            </ul>
        </nav>
    </header>
    
        <main>

        <section class="banner-inicio">
            <div>
                <p>Venha torcer com<br>a <span>maior</span> do <span>RN!</span></p>
                <button>Saiba mais</button>
            </div>

            <figure>
                <img src="{% static 'imagens/pantera-home.png' %}" alt="Pantera da TFF">
            </figure>
        </section>


        <section class="camisa-inicio">
            <div class="camisa-card">
                <figure>
                    <img src="{% static 'imagens/camisa-tff.png' %}" alt="Camisa da TFF">
                </figure>

                <div class="camisa-info">
                    <h2>O MANTO</h2>
                    <p>O número na camisa da TFF homenageia a torcida:</p>
                    <p>O 12º JOGADOR</p>

                    <div class="camisa-preco">
                        <p>R$ 49,90</p>
                        <a href="">Adquirir</a>
                    </div>
                </div>
            </div>
        </section>


        <section class="noticias">

            <img src="{% static 'imagens/garra-roxa-esquerda.png' %}" alt="Textura de garra" id="garra-esquerda">

            <div class="titulo-ancora">
                <h2>NOTÍCIAS</h2>   
                <a href="">Todas as notícias <img src="{% static 'imagens/seta.png' %}" alt="Seta"></a>
            </div>

            <div class="carousel-wrapper">
                <button class="carousel-nav prev" id="prevBtn" aria-label="Anterior"><img src="{% static 'imagens/seta-carrossel-esquerda.png' %}" alt="Seta anterior"></button>

                <div class="carousel-track-container">
                    <div class="carousel-track" id="carouselTrack">
                    <article class="news-card">
                        <div class="card-image-wrapper">
                        <div class="card-placeholder"></div>
                        <div class="card-overlay">
                            <p class="card-title">Lorem Ipsum is simply dummy text Lorem Ipsumt</p>
                            <p class="card-date">22 de fevereiro de 2026</p>
                        </div>
                        </div>
                        <p class="card-category">Basquete</p>
                    </article>

                    <article class="news-card">
                        <div class="card-image-wrapper">
                        <div class="card-placeholder"></div>
                        </div>
                        <p class="card-category">Eventos</p>
                    </article>

                    <article class="news-card">
                        <div class="card-image-wrapper">
                        <div class="card-placeholder"></div>
                        </div>
                        <p class="card-category">Intercampi</p>
                    </article>

                    <article class="news-card">
                        <div class="card-image-wrapper">
                        <div class="card-placeholder"></div>
                        </div>
                        <p class="card-category">Futebol</p>
                    </article>

                    <article class="news-card">
                        <div class="card-image-wrapper">
                        <div class="card-placeholder"></div>
                        </div>
                        <p class="card-category">Futebol</p>
                    </article>

                    </div>
                </div>

                <button class="carousel-nav next" id="nextBtn" aria-label="Próximo"><img src="{% static 'imagens/seta-carrossel-direita.png' %}" alt="Seta posterior"></button>
        </div>

    <div class="carousel-pagination" id="carouselPagination">
      <span class="dot active"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
    </div>
  </div>

            <img src="{% static 'imagens/garra-roxa-direita.png' %}" alt="Textura de garra" id="garra-direita">

        </section>

        <div class="carousel-dots"></div>

        <section>
            <div>
            <!-- ÚLTIMOS JOGOS -->
            <h2>ÚLTIMOS JOGOS</h2>
            <div>
                {% for jogo in ultimos_jogos %}
                <div>
                    <div>
                    <div>
                        <span>⚽ {{ jogo.modalidade|upper }} • {{ jogo.data_hora|date:"d/m" }}</span>
                        <span>{{ jogo.competicao|upper }}</span>
                    </div>
                    <div>
                        {{ jogo.data_hora|time:"Hhi" }} - {{ jogo.local|upper }}
                    </div>
                    
                    <div>
                        <div>
                        <img src="{{escudo_cnat.url }}" alt="CNAT">
                        <div class="small fw-bold mt-1 text-uppercase">CNAT</div>
                        </div>
                        
                        <div>
                        {{ jogo.placar_cnat }} - {{ jogo.placar_adversario }}
                        </div>
                        
                        <div>
                        <span>{{ jogo.adversario_sigla|upper }}</span>
                        <div>{{ jogo.adversario_sigla }}</div>
                        </div>
                    </div>

                    <div>
                        <span style="background-color: #4a004e; color: white;">
                        {{ jogo.fase|upper }}
                        </span>
                    </div>
                    </div>
                </div>
                {% empty %}
                <p class="text-muted">Nenhum jogo recente disponível.</p>
                {% endfor %}
            </div>

            <!-- PRÓXIMOS JOGOS -->
            <h2>PRÓXIMOS JOGOS</h2>
            <div>
                {% for jogo in proximos_jogos %}
                <div>
                    <div>
                    <div>
                        <span>⚽ {{ jogo.modalidade|upper }} • {{ jogo.data_hora|date:"d/m" }}</span>
                        <span>{{ jogo.competicao|upper }}</span>
                    </div>
                    <div>
                        {{ jogo.data_hora|time:"Hhi" }} - {{ jogo.local|upper }}
                    </div>
                    
                    <div>
                        <div>
                        <img src="{{escudo_cnat.url }}" alt="CNAT">
                        <div class="small fw-bold mt-1 text-uppercase">CNAT</div>
                        </div>
                        
                        <div>
                        <span>X</span>
                        </div>
                        
                        <div>
                        <span>{{ jogo.adversario_sigla|upper }}</span>
                        <div>{{ jogo.adversario_sigla }}</div>
                        </div>
                    </div>

                    <div>
                        <span style="background-color: #4a004e; color: white;">
                        {{ jogo.fase|upper }}
                        </span>
                    </div>
                    </div>
                </div>
                {% empty %}
                <p>Nenhum próximo jogo agendado.</p>
                {% endfor %}
            </div>

            <div>
                <a href="">
                Todos os jogos <img src="{% static 'imagens/seta_todos.png' %}" alt="">
                </a>
            </div>  
            </div>
        </section>

        <section>
        </section>

    </main>

    <footer>
        <div class="footer-container">

            <div class="footer-top">

                <img class="logo_tff_footer" src="{% static 'imagens/Logo.png' %}" alt="Logo TFF">

                <div class="icones">
                    <img src="{% static 'imagens/email.png' %}" alt="Email">
                    <img src="{% static 'imagens/tik_tok.png' %}" alt="TikTok">
                    <img src="{% static 'imagens/instagram.png' %}" alt="Instagram">
                </div>
            </div>

            <div class="footer-linha"></div>

            <div class="footer-bottom">
                <div class="footer-coluna">
                    <h3>Torcida</h3>
                    <a href="">Sobre</a>
                    <a href="">Gestão</a>
                </div>

                <div class="footer-coluna">
                    <h3>Esportes</h3>
                    <a href="">Intercampi</a>
                    <a href="">Jogos</a>
                    <a href="">Equipes</a>
                </div>

                <div class="footer-coluna">
                    <h3>Comunicação</h3>
                    <a href="">Notícias</a>
                    <a href="">Eventos</a>
                </div>

                <p class="copyright">2026, Equipe de desenvolvimento</p>
            </div>

        </div>
    </footer>

</body>

</html>

<script>
    const dropdowns = document.querySelectorAll(".dropdown-btn");

    dropdowns.forEach(button => {
        button.addEventListener("click", function (event) {
            event.preventDefault();
            const dropdown = this.parentElement;
            document.querySelectorAll(".dropdown").forEach(item => {
                if (item !== dropdown) {
                    item.classList.remove("active");
                }
            });
            dropdown.classList.toggle("active");
        });
    });

    document.addEventListener("click", function (event) {
        if (!event.target.closest(".dropdown")) {
            document.querySelectorAll(".dropdown").forEach(item => {
                item.classList.remove("active");
            });
        }
    });

    document.addEventListener('DOMContentLoaded', () => {
    const track = document.getElementById('carouselTrack');
    const prevBtn = document.getElementById('prevBtn');
    const nextBtn = document.getElementById('nextBtn');
    const dots = document.querySelectorAll('.dot');
    const cards = document.querySelectorAll('.news-card');

    let currentIndex = 0;

    function updateCarousel(index) {
        const cardWidth = cards[0].getBoundingClientRect().width + 20; // 20px é o gap
        track.style.transform = `translateX(-${index * cardWidth}px)`;

        dots.forEach((dot, i) => {
        dot.classList.toggle('active', i === index);
        });
    }

    nextBtn.addEventListener('click', () => {
        if (currentIndex < cards.length - 1) {
        currentIndex++;
        updateCarousel(currentIndex);
        }
    });

    prevBtn.addEventListener('click', () => {
        if (currentIndex > 0) {
        currentIndex--;
        updateCarousel(currentIndex);
        }
    });

    dots.forEach((dot, index) => {
        dot.addEventListener('click', () => {
        currentIndex = index;
        updateCarousel(currentIndex);
        });
    });
    });
</script>