{% extends "base.html" %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/noticias.css' %}">
{% endblock %}

{% block content %}

    <main>

        <h1 class="titulo_pagina">NOTÍCIAS</h1>

        <div class="noticias">

            {% for noticia in noticias %}
            <a class="news-card" href="{% url 'noticia' noticia.id %}">
                <div class="card-image-wrapper">
                    {% if noticia.imagem %}
                    <img src="{{ noticia.imagem.url }}" alt="{{ noticia.titulo }}">
                    {% else %}
                    <div class="card-placeholder"></div>
                    {% endif %}

                    <div class="card-overlay">
                        <p class="card-title">{% with primeira_tag=noticia.tags.all|first %}
                            {% if primeira_tag %} {{ primeira_tag.nome }} {% else %}
                            Geral{% endif %}{% endwith %}</p>
                        <p class="card-date">{{ noticia.data|date:"d \d\e F \d\e Y" }}</p>
                    </div>
                </div>

                <div class="news-card-content">
                    <h3 class="news-card-titulo">{{ noticia.titulo }}</h3>
                    <p class="news-card-descricao">{{ noticia.descricao }}</p>
                </div>
            </a>
            {% empty %}
            <p>Nenhuma notícia encontrada.</p>
            {% endfor %}

        </div>

    </main>

<script>
    const dropdowns = document.querySelectorAll(".dropdown-btn");

    dropdowns.forEach(button => {
        button.addEventListener("click", function (event) {
            event.preventDefault();
            const dropdown = this.parentElement;
            document.querySelectorAll(".dropdown").forEach(item => {
                if (item !== dropdown) {
                    item.classList.remove("active");
                }
            });
            dropdown.classList.toggle("active");
        });
    });

    document.addEventListener("click", function (event) {
        if (!event.target.closest(".dropdown")) {
            document.querySelectorAll(".dropdown").forEach(item => {
                item.classList.remove("active");
            });
        }
    });
</script>

{% endblock %}