{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre nós</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/sobre_nos.css' %}">
</head>

<body>
    <header>
        <nav>
            <h1><a href="{% url 'home' %}"><img src="{% static 'imagens/Logo.png' %}" alt="TFF" class="logo"></a></h1>
            <ul>
                <li class="dropdown"><a href="#" class="dropdown-btn">Torcida<img src="{% static 'imagens/seta_header.png' %}" alt="seta"></a>
                    <ul class="submenu">
                        <li><a href="{% url 'gestao' %}">Gestão</a></li>
                        <li><a href="{% url 'sobre_nos' %}">Sobre nós</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-btn">Esportes<img src="{% static 'imagens/seta_header.png' %}"
                            alt="seta"></a>
                    <ul class="submenu">
                        <li><a href="">Jogos</a></li>
                        <li><a href="{% url 'equipes' %}">Equipes</a></li>
                    </ul>
                </li>

                <li class="dropdown"><a href="#" class="dropdown-btn">Comunicação<img
                            src="{% static 'imagens/seta_header.png' %}" alt="seta"></a>
                    <ul class="submenu">
                        <li><a href="">Notícias</a></li>
                        <li><a href="">Eventos</a></li>
                    </ul>
                </li>

                <li><a href="">Vendas</a></li>
                <li><a href="">Contato</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1 class="titulo_pagina">SOBRE NÓS</h1>
        <section class="polaroid">
            <figure class="pola">
                <img src="{% static 'imagens/polaroid.png' %}" alt="">
            </figure>
            <div class="info">
                <h2>2023</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae quae, consequatur ipsum odit
                    officia qui rerum laborum praesentium maxime voluptatem error alias, at odio reprehenderit sapiente
                    voluptas autem enim sunt. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati
                    suscipit facere voluptates impedit iure animi, accusantium ut id quam eius repellendus aliquam
                    voluptatem totam rem ea adipisci nisi sunt velit.</p>
            </div>
        </section>
        <section class="mascote">
            <img src="{% static 'imagens/garra_esquerda.png' %}" alt="" class="garra garra-esquerda">
            <img src="{% static 'imagens/garra_direita.png' %}" alt="" class="garra garra-direita">

            <div class="conteudo_mascote">

                <div class="mascote_geral">
                    <h2>O MASCOTE</h2>

                    <div class="paragrafo">
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and
                            typesetting industry. Lorem Ipsum has been the industry's
                            standard dummy text ever since the 1500s, when an unknown
                            printer took a galley of type and scrambled it to make a
                            type specimen book. Lorem Ipsum is simply dummy text of
                            the printing and typesetting industry
                        </p>
                    </div>
                </div>

                <figure class="img_pantera">
                    <img class="pantera" src="{% static 'imagens/pantera.png' %}" alt="">
                </figure>

            </div>


        </section>

        <section class="torcida">
            <figure class="ft_torcida">
                <img src="{% static 'imagens/torcida.png' %}" alt="">
            </figure>
            <div class="conteudo_torcida">
                <h2>TÍTULO</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type.
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type.
                </p>
            </div>
        </section>

        <section class="musicas">
            <div class="musicas-header">
                <h2>MÚSICAS</h2>
            </div>

            <div class="musicas-grid">
                <div class="musicas-coluna">
                    <div class="accordion-item">
                        <button class="accordion-btn">
                            <span class="seta-box"><span class="seta">❯</span></span>
                            CNAT estou sempre contigo
                        </button>
                        <div class="accordion-content">
                            <p>Letra da música aqui...</p>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <button class="accordion-btn">
                            <span class="seta-box"><span class="seta">❯</span></span>
                            Quem for da Fúria
                        </button>
                        <div class="accordion-content">
                            <p>Letra da música aqui...</p>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <button class="accordion-btn">
                            <span class="seta-box"><span class="seta">❯</span></span>
                            Dizem por aí
                        </button>
                        <div class="accordion-content">
                            <p>Letra da música aqui...</p>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <button class="accordion-btn active">
                            <span class="seta-box"><span class="seta">❯</span></span>
                            Abram Passagem
                        </button>
                        <div class="accordion-content" style="max-height: 500px;">
                            <p>EM QUALQUER LUGAR A FÚRIA QUE INVADE
                                O RESTO SE ESCONDE
                                SE EU CANTAR ABRAM PASSAGEM

                                OOOOOO ABRAM PASSAGEM
                                FÚRIA FEDERAL
                                O FERVOR DESSA CIDADE</p>
                        </div>
                    </div>
                </div>

                <div class="musicas-coluna">
                    <div class="accordion-item">
                        <button class="accordion-btn">
                            <span class="seta-box"><span class="seta">❯</span></span>
                            Ah, eu sou CNAT
                        </button>
                        <div class="accordion-content">
                            <p>Letra da música aqui...</p>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <button class="accordion-btn">
                            <span class="seta-box"><span class="seta">❯</span></span>
                            Liga pra arnóbio
                        </button>
                        <div class="accordion-content">
                            <p>Letra da música aqui...</p>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <button class="accordion-btn active">
                            <span class="seta-box"><span class="seta">❯</span></span>
                            Se tu torce pro CNAT
                        </button>
                        <div class="accordion-content" style="max-height: 500px;">
                            <p>Se tu torce pro CNAT
                                Um conselho eu vou te dar
                                Se voce ficar parado va torcer em outro lugar
                                Porque na TFF,
                                Uma coisa eu falo serio
                                Quem estiver quieto, vai levar um fica esperto 2x

                                Se tu nao acreditou,
                                E continuou parado,
                                A maior da capital,
                                Vai puxar o ta ligado,
                                Quem ficar parado vai levar um ta ligado 2x

                                Agora com certeza,
                                A chapa ja esquentou,
                                Vou mandar o sai da frente,
                                Pra maior do corredor
                                Sai! Sai da frente, sai que a fúria é muita gente 2x</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <div class="footer-container">
            <div class="footer-top">
                <img class="logo_tff_footer" src="{% static 'imagens/Logo.png' %}" alt="Logo TFF">
                <div class="icones">
                    <img src="{% static 'imagens/email.png' %}" alt="Email">
                    <img src="{% static 'imagens/tik_tok.png' %}" alt="TikTok">
                    <img src="{% static 'imagens/instagram.png' %}" alt="Instagram">
                </div>
            </div>

            <div class="footer-linha"></div>
            <div class="footer-bottom">
                <div class="footer-coluna">
                    <h3>Torcida</h3>
                    <a href="">Sobre</a>
                    <a href="">Gestão</a>
                </div>

                <div class="footer-coluna">
                    <h3>Esportes</h3>
                    <a href="">Intercampi</a>
                    <a href="">Jogos</a>
                    <a href="">Equipes</a>
                </div>

                <div class="footer-coluna">
                    <h3>Comunicação</h3>
                    <a href="">Notícias</a>
                    <a href="">Eventos</a>
                </div>
                <p class="copyright">2026, Equipe de desenvolvimento</p>
            </div>
        </div>
    </footer>
</body>

</html>
<script>
    const dropdowns = document.querySelectorAll(".dropdown-btn");

    dropdowns.forEach(button => {
        button.addEventListener("click", function (event) {
            event.preventDefault();
            const dropdown = this.parentElement;
            document.querySelectorAll(".dropdown").forEach(item => {
                if (item !== dropdown) {
                    item.classList.remove("active");
                }
            });
            dropdown.classList.toggle("active");
        });
    });

    document.addEventListener("click", function (event) {
        if (!event.target.closest(".dropdown")) {
            document.querySelectorAll(".dropdown").forEach(item => {
                item.classList.remove("active");
            });
        }
    });

    var acc = document.querySelectorAll(".accordion-btn");

    acc.forEach(function (btn) {
        btn.addEventListener("click", function () {
            this.classList.toggle("active");

            var panel = this.nextElementSibling;

            if (panel.style.maxHeight) {
                panel.style.maxHeight = null;
            } else {
                panel.style.maxHeight = panel.scrollHeight + "px";
            }
        });
    });
</script>